ci:
  git:
    delay: 20
    from: "github.com/your-name"
    # from: "gitlab.your-domain.com:8022/your-name"
    to:
      - "gitee.com/your-name"
      - "your-domain.com:8888/your-name"
      - "two.your-domain.com:8888/your-name"
    repo: "your-project1,your-project2"